@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u,
i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #00205B;
  background: #F2F2F2;
  font: 14px/1.3 "Montserrat", sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: #f07f20;
}

::-moz-selection {
  color: #fff;
  background: #f07f20;
}

p {
  padding: 15px 0 0;
}

em {
  font-style: normal;
}

a {
  color: #00205B;
  transition: .2s ease-in-out;
  outline: none;
}

a:hover {
  color: #00205B;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="text"],
input[type="password"] {
  padding: 10px 15px;
  color: #00205B;
  background: #f5f1f1;
  outline: none;
  transition: .2s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background: #e1fcff;
  border-color: #00aeef;
}

/*------------------------------------ Content */
.container {
  width: 840px;
  padding: 0 20px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 840px) {
  .container {
    width: 100%;
  }
}

.logo-box {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.response-box {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 120px;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.28571;
  color: #00205B;
}

.response-box p {
  padding-top: 36px;
}

.response-box--thanks {
  margin-top: 306px;
}

.response-box__adress {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44444;
}

.response-box__adress img {
  margin-right: 15px;
}

.response-box__map {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44444;
  text-decoration: none;
}

.response-box__map img {
  margin-right: 15px;
}

.response-box__review {
  width: 100%;
  height: 230px;
  margin-top: 46px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44444;
  border: 1px solid #00205B;
  background-color: #F1F3F7;
  color: #00205B;
  font-family: 'Montserrat',sans-serif;
  padding: 20px 0 0 20px;
  resize: none;
}

.response-box__review--noperfect {
  margin-top: 80px;
}

.response-box__send {
  width: 100%;
  height: 60px;
  margin-top: 16px;
  background-color: #00205B;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.38095;
  color: #fff;
  font-family: 'Montserrat',serif;
}

.response-box__send--thanks {
  margin-top: 32px;
}

.smile-box {
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}

.smile-box__rating a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.smile-box__rating a span {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.80952;
  padding-top: 16px;
  text-align: center;
}

/*------------------------------------- Media */
@media screen and (min-width: 320px) and (max-width: 840px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 460px) {
  .response-box {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.625;
    margin-top: 60px;
  }
  .response-box--thanks {
    margin-top: 252px;
  }
  .response-box p {
    padding-top: 26px;
  }
  .response-box__adress {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
  }
  .response-box__adress img {
    max-width: 10px;
    height: auto;
  }
  .response-box__map {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
  }
  .response-box__map img {
    max-width: 13.33px;
    height: auto;
  }
  .response-box__review {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    padding: 15px 0 0 15px;
    margin-top: 54px;
  }
  .response-box__send {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.25;
    height: 36px;
    margin-top: 8px;
  }
  .smile-box {
    margin-top: 30px;
  }
  .smile-box__rating a {
    width: 32px;
  }
  .smile-box__rating a span {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.25;
    padding-top: 8px;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .logo-box {
    width: 80px;
    height: auto;
  }
}

/*------------------------------------- Footer */
/*-------------------------------------------  */
/*# sourceMappingURL=main.css.map */