// /* Default */
$main-color:		  #00205B;
$default-font-size:		16;
$main-font-size:		14;
$main-line-height:		1.3;
$main-font-family:		'Montserrat', sans-serif;
$main-link-color:		#00205B;
$main-link-color-hover:	#00205B;
$body-color:			#F2F2F2;

// $red:					#dd300e;

// $blue:					#4EA9EF;
// $gray:					#A1AEB7;
// $green:					#69CD3A;
// $lightgray:				#E9EEF1;

// Label
// $label-size:                  12px;
// $label-color:                 $lightgray;
// $label-font-size:             14px;


//---------------------- Grid System --------------------

// /* Default amount of columns */
// $total-columns:        12;

// /* Break Points */
// $xxs:				   320px;
// $xs:				   768px;
// $sm: 				   1007px;
// $md: 			       1310px;
// $lg: 				   1550px;

// /* Custom Media */
// $mobile:			   480px;

// /* Container Width */
// $width-desktop: 		1500px;
// $width-laptop:			1250px;
// $width-tablet: 			1000px;
// $width-mobile: 			738px;
// $width-xmobile: 		100%;

// /* Gutter Columns */
// $gutter-columns:       15px;
// $gutter-columns-small: 5px;

//------------------------------